* {
  box-sizing: content-box;
  margin: 0;
}

/*TYPOGRAPHY*/

h1 {
  color: #cb0046;
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: #333;
  font-family: 'Noto Serif', Georgia, serif;
  font-size: 1.5rem;
  margin: 2rem 0 2rem 0;
}

p, li {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

/*LAYOUT*/

header {
  width: 100%;
  background-color: #d8d8d8;
  padding: 1rem 0 3rem 0;
  position: relative;
}

#plant-container {
  position: absolute;
  width: 100%;
  top: 75%;
  text-align: center;
}

#plant-icon {
    height: 5rem;
}

#newItem {
  background-color: #ebebeb;
  border: 1px solid #9a9a9a;
  display: block;
  height: 2rem;
  width: 200px;
  margin: 0 auto;
}

#addItem {
  background-color: #42c357;
  border: 0;
  color: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  height: 2rem;
  width: 195px;
  margin-top: 2rem;
}

#form {
  background: url('../img/plant.png');
  background-repeat: repeat;
  padding: 2rem 0 2rem 0;
  text-align: center;
  width: 100%;
}

#itemList {
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
  width: 50%;
}

li {
  list-style-type: none;
  padding: 2rem;
  border-bottom: 1px solid #d1d1d1;
}

li:last-child {
  border-bottom: none;
}

.check {
  padding: 1rem;
  color: white;
  background-color: #cb0046;
  margin-right: 3rem;
  border: 0;
  display: inline;
}

.strikethrough {
  text-decoration: line-through;
}

